body {
  font-family: "Lato", sans-serfif;
  font-weight: 400;
/*  font-size: 16px;*/
  line-height: 1.7;
  color: $color-gray-dark;
}


.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* prevents the weird shaky thing that happens with animations */
  /* no one knows why it happens, but this is the fix:*/
  /* backface-visability the entire element moves determines if the backpart of the element is hidden or visible to the user*/
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /* block-level elements occupy the entire width that they have available & create line breaks after and before them*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    /* how the animation will proceed over time*/
    animation-timing-function: ease-out;
    /*iteration = how many times you want it to repeat*/
    /*animation-iteration-count: 3;*/
    /*animation-delay: 0.5s;*/
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /* shorthand for animations*/
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  /*webkit background clip sets the background clipped to exactly where the text sits */
  -webkit-background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

















